<link rel="stylesheet" href="/apps/wishlist/wishlist-app/main.css">
<div id="wishlist-app"></div>
<script type="module" src="/apps/wishlist/wishlist-app/main.js" defer></script>

{% schema %}
{
  "name": "Wishlist-app",
   "target": "body"
}
{% endschema %}

